<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dettagli account</title>
    <link rel="stylesheet" th:href="@{/css/prova.css}" />
    <script th:src="@{/javascript/prova.js}" defer></script>
</head>
<body>
<div th:replace="topbar :: topbar"></div>
<h1 style="text-align: center">Dettagli Account</h1>

<div th:if="${edit}">
    Profilo modificato con successo
</div>

<section class="card">
    <section class="details">
        <div class="detail-row">
            <span class="label">Nome:</span>
            <span class="value" th:text="${user.name}">1</span>
        </div>

        <div class="detail-row">
            <span class="label">Cognome:</span>
            <span class="value" th:text="${user.surname}">Edificio A</span>
        </div>

        <div class="detail-row">
            <span class="label">Email:</span>
            <span class="value" th:text="${user.email}">Via Roma 1</span>
        </div>

        <div class="detail-row">
            <span class="label">Data di Nascita:</span>
            <span class="value" th:text="${user.birthDate}">09/09/2009</span>
        </div>

        <div class="detail-row">
            <span class="label">Numero di Cellulare:</span>
            <span class="value" th:text="${user.cellphone}">+3594519837</span>
        </div>

        <div class="detail-row">
            <a class="link" th:href="@{|/user/edit|}">Modifica</a>
        </div>
    </section>
</section>


<hr/>

</body>
</html>