<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dettagli account</title>
</head>
<body>
<h1>Dettagli Account</h1>

<div th:if="${edit}">
    Profilo modificato con successo
</div>

<section>
    <p><strong>Nome:</strong> <span th:text="${user.name}">1</span></p>
    <p><strong>Cognome:</strong> <span th:text="${user.surname}">Edificio A</span></p>
    <p><strong>Email:</strong> <span th:text="${user.email}">Via Roma 1</span></p>
    <p><strong>Data di Nascita:</strong> <span th:text="${user.birthDate}">09/09/2009</span></p>
    <p><strong>Numero di Cellulare:</strong> <span th:text="${user.cellphone}">+3594519837</span></p>
    <p><a th:href="@{|/user/edit|}">Modifica</a></p>
</section>
<button type="button" th:onclick="|location.href='@{/home}'|">
    Torna alla home
</button>

<hr/>

</body>
</html>