<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Modifica Utente'">Form Utente</title>
    <link rel="stylesheet" th:href="@{/css/prova.css}" />
    <script th:src="@{/javascript/prova.js}" defer></script>
</head>
<body>
<div th:replace="topbar :: topbar"></div>
<h1 style="text-align: center">Modifica Account</h1>

<section class="card">
    <section class="details">
        <th:block th:with="formAction=${edit}
                     ? @{/buildings/{buildingId}/clients/{clientId}/edit(buildingId=${buildingId}, clientId=${clientId})}
                     : (${client}
                         ? @{/buildings/{buildingId}/clients/add(buildingId=${buildingId})}
                         : @{/user/edit})">

            <form th:action="${formAction}"
                  th:object="${objectForm}"
                  method="post" autocomplete="on">


                <table class="table" id="userEditTable" style="width: 150%">
                    <tr>
                        <td><label for="name">Nome:</label></td>
                        <td><input class="input" id="name" type="text" th:field="*{name}" autocomplete="given-name"
                                   placeholder="Mario" required autofocus/></td>
                        <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Errore nome</td>
                    </tr>

                    <tr>
                        <td><label for="surname">Cognome:</label></td>
                        <td><input class="input" id="surname" type="text" th:field="*{surname}" autocomplete="family-name"
                                   placeholder="Rossi" required/></td>
                        <td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Errore cognome</td>
                    </tr>

                    <tr>
                        <td><label for="email">Email:</label></td>
                        <td><input class="input" id="email" type="email" th:field="*{email}" autocomplete="email"
                                   placeholder="mario.rossi@email.com" required/></td>
                        <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Errore email</td>
                    </tr>

                    <tr>
                        <td><label for="oldPassword">Vecchia Password:</label></td>
                        <td>
                            <input class="input" id="oldPassword" type="password" th:field="*{oldPassword}" autocomplete="current-password"
                                   placeholder="Password attuale (solo per cambiarla)"/>
                        </td>
                        <td th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">Errore vecchia password</td>
                    </tr>
                    <tr>
                        <td><label for="newPassword">Nuova Password:</label></td>
                        <td>
                            <input class="input" id="newPassword" type="password" th:field="*{newPassword}" autocomplete="new-password"
                                   placeholder="Lascia vuoto per non cambiare"/>
                        </td>
                        <td th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">Errore nuova password</td>
                    </tr>

                    <tr>
                        <td><label for="dateOfBirth">Data di nascita:</label></td>
                        <td>
                            <input class="input" id="dateOfBirth" type="date" th:field="*{birthDate}" required
                                   th:attr="max=${#dates.format(#dates.createNow(),'yyyy-MM-dd')}" />
                        </td>
                        <td th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">Errore Data</td>
                    </tr>

                    <tr>
                        <td><label for="cellphone">Numero di telefono:</label></td>
                        <td>
                            <input class="input" id="cellphone" type="tel" th:field="*{cellphone}" placeholder="+393331234567" required
                                   pattern="^\+?[0-9]{7,15}$"
                                   title="Inserisci un numero valido (7–15 cifre, opzionale + iniziale)"/>
                        </td>
                        <td th:if="${#fields.hasErrors('cellphone')}" th:errors="*{cellphone}">Errore Numero di Cellurare</td>
                    </tr>

                    <tr>

                        <td colspan="3" th:if="${!client}">
                            <div class="btn-row">
                                <button class="btn btn-primary" type="submit">Modifica Account</button>
                                <a  class="link" th:href="@{/user/details}">
                                    Annulla
                                </a>
                            </div>

                        </td>
                    </tr>

                </table>
            </form>
        </th:block>
    </section>
</section>




</body>
</html>
