<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aggiungi Asset</title>
    <link rel="stylesheet" th:href="@{/css/prova.css}" />
    <script th:src="@{/javascript/prova.js}" defer></script>
</head>
<body>
<div th:replace="topbar :: topbar"></div>


<h2 style="text-align: center" th:text="${edit}? |Modifica l'asset ${assetId}| : 'Aggiungi Asset'">
    Titolo
</h2>

<a><span th:text="${formError}">Errori nel form</span> </a>

<section class="card">
    <section class="details">
        <form th:action="${edit}?  @{/buildings/{buildingId}/assets/{assetId}/edit(buildingId=${buildingId},assetId=${assetId})} : @{/buildings/{buildingId}/assets/new(buildingId=${buildingId})}"
              th:object="${assetForm}" method="post">

            <table class="table">
                <tr>
                    <td><label for="name">Nome:</label></td>
                    <td><input class="input" id="name" type="text" th:field="*{name}" placeholder="Nome asset" required autofocus /></td>
                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Errore nome</td>
                </tr>

                <tr>
                    <td><label for="brand">Brand:</label></td>
                    <td><input class="input" id="brand" type="text" th:field="*{brand}" placeholder="Marca dell'asset" required /></td>
                    <td th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}">Errore brand</td>
                </tr>

                <tr>
                    <td><label for="type">Tipo:</label></td>
                    <td>
                        <select id="type" th:field="*{type}" required>
                            <option value="" disabled selected>-- seleziona --</option>
                            <option th:each="t : ${T(it.univaq.progettotesi.entity.AssetType).values()}"
                                    th:value="${t}" th:text="${t}"></option>
                        </select>
                    </td>
                    <td th:if="${#fields.hasErrors('type')}" th:errors="*{type}">Errore tipo</td>
                </tr>

                <tr>
                    <td><label for="model">Modello:</label></td>
                    <td><input class="input" id="model" type="text" th:field="*{model}" placeholder="Modello dell'asset" required /></td>
                    <td th:if="${#fields.hasErrors('model')}" th:errors="*{model}">Errore modello</td>
                </tr>

                <tr>
                    <td><label for="commProtocol">Protocollo di comunicazione:</label></td>
                    <td>
                        <select id="commProtocol" th:field="*{commProtocol}" required>
                            <option value="" disabled selected>-- seleziona --</option>
                            <option th:each="p : ${T(it.univaq.progettotesi.entity.CommProtocol).values()}"
                                    th:value="${p}" th:text="${p}"></option>
                        </select>
                    </td>
                    <td th:if="${#fields.hasErrors('commProtocol')}" th:errors="*{commProtocol}">Errore protocollo</td>
                </tr>

                <tr>
                    <td><label for="clientEmail">Email Cliente a cui appartiene:</label></td>
                    <td>
                        <input class="input" id="clientEmail" type="email" th:field="*{clientEmail}" placeholder="mario.rossi@gmail.com" required>
                    </td>
                    <td th:if="${#fields.hasErrors('clientEmail')}" th:errors="*{clientEmail}">Errore Email del cliente</td>
                </tr>

                <tr>
                    <td th:if="!${edit}">
                        <button class="btn btn-primary" type="submit">Registra Asset</button>
                    </td>
                    <td th:if="${edit}">
                        <button class="btn btn-primary" type="submit">Modifica Asset</button>
                    </td>
                    <td>
                        <a class="link" th:href="@{'/buildings/' + ${buildingId}}">Annulla</a>
                    </td>
                </tr>
            </table>
        </form>
    </section>

</section>



</body>
</html>
