<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/prova.css}" />
</head>

<body>
<p class="welcome-box" style="font-size: 5rem">
    <span th:text="#{msg.welcome}"></span>
    <span th:text="${user.getName()}"></span> <span th:text = "${user.getSurname()}"></span>!
</p>
<div>
    <p class="text-home" style="font-size: 3rem">
        <a class="link" th:href="@{/buildings}">I miei edifici</a>
    </p>
</div>

<div>
    <p class="text-home" style="font-size: 3rem">
        <a class="link" th:href="@{/user/details}">Visualizza account</a>
    </p>
</div>

<form class="text-home" th:action="@{/logout}" method="post" >
    <input class="btn btn-primary" type="submit" value="Logout" style="font-size: 2rem"/>
</form>

</body>
</html>
