<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script th:src="@{/javascript/script.js}" defer></script>
</head>
<body>
<h2>Effettua la registrazione</h2>

<form th:action="@{/register}" th:object="${registerForm}" method="post" class="form-modern">
    <div class="form-group">
        <label for="name">Nome:</label>
        <input id="name" type="text" th:field="*{name}" autocomplete="given-name"
               placeholder="Inserisci il tuo nome" required autofocus />
        <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Errore nome</div>
    </div>
    <div class="form-group">
        <label for="surname">Cognome:</label>
        <input id="surname" type="text" th:field="*{surname}" autocomplete="family-name"
               placeholder="Inserisci il tuo cognome" required />
        <div class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Errore cognome</div>
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" type="email" th:field="*{email}" autocomplete="email"
               placeholder="Inserisci la tua email" required />
        <div class="error">
            <span th:if="${emailError}">Email già in uso</span>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Errore email</span>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <div class="password-wrapper">
            <input id="password" type="password" th:field="*{password}" autocomplete="new-password"
                   placeholder="Inserisci la tua password" required />
            <button type="button" id="togglePassword">👁️</button>
        </div>
        <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Errore password</div>
    </div>

    <button type="submit" class="btn-primary">Registrati</button>
</form>

<div class="form-footer">
    Sei registrato?
    <button type="button" class="btn-secondary"
            th:onclick="|window.location.href='@{/login}'|">
        Accedi
    </button>
</div>
</body>
</html>
