<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{/css/prova.css}" />
    <script th:src="@{/javascript/script.js}" defer></script>
</head>
<body>
<h2 style="text-align: center">Effettua la registrazione</h2>

<section class="card">
    <section class="details">
        <form th:action="@{/register}" th:object="${objectForm}" method="post" >
            <table class="table">
                <!-- CSRF -->
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                <tr>
                    <td><label for="name">Nome:</label></td>
                    <td><input class="input" id="name" type="text" th:field="*{name}" autocomplete="given-name"
                               placeholder="Inserisci il tuo nome" required autofocus /></td>
                    <td><div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Errore nome</div></td>
                </tr>

                <tr>
                    <td><label for="surname">Cognome:</label></td>
                    <td><input class="input" id="surname" type="text" th:field="*{surname}" autocomplete="family-name"
                               placeholder="Inserisci il tuo cognome" required /></td>
                    <td><div class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Errore cognome</div></td>
                </tr>

                <tr>
                    <td><label for="email">Email:</label></td>
                    <td><input class="input" id="email" type="email" th:field="*{email}" autocomplete="email"
                               placeholder="Inserisci la tua email" required /></td>
                    <td><div class="error">
                        <span th:if="${emailError}">Email già in uso</span>
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Errore email</span>
                    </div></td>
                </tr>

                <tr>
                    <td><label for="password">Password:</label></td>
                    <td><div class="password-wrapper">
                        <input class="input" id="password" type="password" th:field="*{password}" autocomplete="new-password"
                               placeholder="Inserisci la tua password" required />
                        <button class="btn btn-primary" type="button" id="togglePassword">👁️</button>
                    </div></td>
                    <td><div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Errore password</div></td>
                </tr>

                <!-- Data di nascita -->
                <tr>
                    <td><label for="dateOfBirth">Data di nascita:</label></td>
                    <td><input class="input" id="dateOfBirth" type="date" th:field="*{birthDate}" required
                               th:attr="max=${#dates.format(#dates.createNow(),'yyyy-MM-dd')}" /></td>
                    <td><div class="error" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">
                        Errore data di nascita
                    </div></td>
                </tr>

                <!-- Telefono -->
                <tr>
                    <td><label for="phone">Telefono:</label></td>
                    <td><input class="input" id="phone" type="tel" th:field="*{cellphone}" placeholder="+393331234567" required
                           pattern="^\+?[0-9]{7,15}$"
                               title="Inserisci un numero valido (7–15 cifre, opzionale + iniziale)"/></td>
                    <td><div class="error" th:if="${#fields.hasErrors('cellphone')}" th:errors="*{cellphone}">
                        Errore telefono
                    </div></td>
                </tr>

                <tr>
                    <td><div class="form-footer">
                        Sei registrato?
                        <button type="button" class="btn btn-primary"
                                th:onclick="|window.location.href='@{/login}'|">
                            Accedi
                        </button>
                    </div></td>
                    <td><button type="submit" class="btn btn-primary">Registrati</button></td>
                </tr>

            </table>

        </form>
    </section>
</section>



</body>
</html>
