<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Dettagli edificio</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/2.2.0/Control.FullScreen.min.css"/>
    <link rel="stylesheet" th:href="@{/css/prova.css}" />
    <script>
        const buildingId = [[${building.id}]];
    </script>
    <script th:src="@{/javascript/prova.js}" defer></script>
    <script th:src="@{/javascript/assets.js}" defer></script>
    <script th:src="@{/javascript/clients.js}" defer></script>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>

<body>
<div th:replace="topbar :: topbar"></div>

<h1 style="text-align: center">Dettagli edificio</h1>

<div class="card sections-row">

    <section class=" details">
        <div class="detail-row">
            <span class="label">ID:</span>
            <span class="value" th:text="${building.id}">1</span>
        </div>
        <div class="detail-row">
            <span class="label">Nome:</span>
            <span class="value" th:text="${building.name}">Edificio A</span>
        </div>
        <div class="detail-row">
            <span class="label">Indirizzo:</span>
            <span class="value" th:text="${building.address}">Via Roma 1</span>
        </div>
        <div class="detail-row">
            <span class="label">Email Admin:</span>
            <span class="value" th:text="${building.admin.email}">mario.rossi@email.com</span>
        </div>
        <div class="detail-row">
            <span class="label">Classe Energetica:</span>
            <span class="value" th:text="${building.getEnergeticClass}">A2</span>
        </div>
        <div class="detail-row">
            <span class="label">Unità Abitative:</span>
            <span class="value" th:text="${building.getApartments}">1</span>
        </div>
        <div class="detail-row">
            <span class="label">Anno di Costruzione:</span>
            <span class="value" th:text="${building.yearOfConstruction}">1890</span>
        </div>
        <div class="detail-row">
            <span class="label">Numero di Piani:</span>
            <span class="value" th:text="${building.numbersOfFloors}">3</span>
        </div>

        <p class="btn-row">
            <a class="link" th:href="@{|/buildings/${buildingId}/edit|}">Modifica</a>
            <a class="link" href="/buildings">← Torna all'elenco edifici</a>
        </p>
    </section>

        <section class=" map-container">
            <div id="buildings-data"
                 th:attr="data-buildings=${buildingsJson}"></div>

            <div id="map"></div>
        </section>

</div>


<div class="sections-row">
    <!-- <button type="button"
            th:onclick="|location.href='@{/buildings/{buildingId}/config(buildingId=${building.id})}'|">
        Test JSON configurazione
    </button> -->

    <section class="card">
        <h2>Asset dell'edificio</h2>

        <div id="assetTableContainer"></div>
        <div id="assetPager" class="pager"></div>
        <div id="assetInfo" class="pager-info"></div>

        <label for="assetPageSizeSelect"></label><select style="width: 15%" id="assetPageSizeSelect" onchange="changeAssetPageSize(buildingId)">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="25">25</option>
        </select>

        <button class="btn btn-primary" type="button" th:onclick="|location.href='@{/buildings/{buildingId}/assets/new(buildingId=${building.id})}'|" >
            Aggiungi Asset
        </button>
    </section>

    <section class="card">
        <h2>Inquilini dell'edificio</h2>

        <div id="clientTableContainer"></div>
        <div id="clientPager" class="pager"></div>
        <div id="clientInfo" class="pager-info"></div>

        <select for="clientPageSizeSelect" style="width: 15%" id="clientPageSizeSelect" onchange="changeClientPageSize(buildingId)">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="25">25</option>
        </select>

        <button class="btn btn-primary" type="button" th:onclick="|location.href='@{/buildings/{buildingId}/clients/add(buildingId=${building.id})}'|">Aggiungi Cliente</button>
    </section>


</div>

<hr/>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/2.2.0/Control.FullScreen.min.js"></script>
<script th:src="@{/javascript/map.js}" defer></script>
</body>
</html>
