<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Dettagli edificio</title>
</head>
<body>

<h1>Dettagli edificio</h1>

<section>
    <p><strong>ID:</strong> <span th:text="${building.id}">1</span></p>
    <p><strong>Nome:</strong> <span th:text="${building.name}">Edificio A</span></p>
    <p><strong>Indirizzo:</strong> <span th:text="${building.address}">Via Roma 1</span></p>
    <p><strong>Email Admin:</strong> <span th:text="${building.admin.email}">mario.rossi@email.com</span></p>
    <p><a th:href="@{|/buildings/${buildingId}/edit|}">Modifica</a></p>
</section>

<button type="button"
        th:onclick="|location.href='@{/buildings/{buildingId}/config(buildingId=${building.id})}'|">
    Test JSON configurazione
</button>

<hr/>
<div th:if="${updated}">
    Elemento aggiornato con successo
</div>
<section>
    <h2>Asset dell'edificio</h2>

    <!-- Messaggio se la lista è vuota -->
    <div th:if="${page.totalElements == 0}">
        Non ci sono asset presenti nell'edificio
    </div>
    <!-- Tabella asset se presenti -->
    <div th:if="${page.totalElements > 0}">
        <p><strong>Totale:</strong> <span th:text="${assets.size()}">0</span></p>
        <table id="assetTable">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Marca</th>
                <th>Tipo</th>
                <th>Modello</th>
                <th scope="col">
                    <a th:with="isDesc=${param.sort != null and #strings.contains(param.sort,'commProtocol,desc')},
                     nextDir=${isDesc} ? 'asc' : 'desc'"
                       th:href="@{/buildings/{buildingId}(buildingId=${building.id}, page=0, size=${page.size}, sort=${'commProtocol,'+nextDir})}">
                        Protocollo di comunicazione
                    </a>
                </th>
                <th>Endpoint</th>
                <th>Azioni</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="a : ${assets}">
                <td th:text="${a.id}">10</td>
                <td th:text="${a.name}">Inverter 1</td>
                <td th:text="${a.brand}">BrandX</td>
                <td th:text="${a.type}">INVERTER</td>
                <td th:text="${a.model}">X1000</td>
                <td th:text="${a.commProtocol}">MODBUS</td>
                <td th:text="${a.endpoint}">192.168.1.10:502</td>
                <td class="actions-cell">
                    <form th:action="@{/buildings/{buildingId}/assets/{assetId}/delete(buildingId=${building.id},assetId=${a.id})}" method="post" class="actions-item" onsubmit="return confirm('Eliminare questo asset?');">
                        <button type="submit">Elimina Asset</button>
                    </form>
                    <button type="button" class="actions-item"
                            th:onclick="|location.href='@{/buildings/{buildingId}/assets/{assetId}/edit(buildingId=${building.id},assetId=${a.id})}'|">
                        Modifica Asset
                    </button>
                </td>

            </tr>

            </tbody>

        </table>

        <nav aria-label="Paginazione" class="pager">
            <div class="pager-compact">
                <!-- Precedente -->
                <a th:if="${page.hasPrevious()}"
                   th:href="@{/buildings/{buildingId}(buildingId=${building.id}, page=${page.number-1}, size=${page.size}, sort=${param.sort} ?: 'commProtocol,asc')}">❮</a>
                <span th:unless="${page.hasPrevious()}" class="disabled">❮</span>

                <!-- Pagina Attuale -->
                <a th:text="${page.number+1}">1</a>

                <!-- Successiva -->
                <a th:if="${page.hasNext()}"
                   th:href="@{/buildings/{buildingId}(buildingId=${building.id}, page=${page.number+1}, size=${page.size}, sort=${param.sort} ?: 'commProtocol,asc')}">❯</a>
                <span th:unless="${page.hasNext()}" class="disabled">❯</span>
            </div>
        </nav>

        <span class="pager-info">
          Stai vedendo i risultati dall'
          <strong th:text="${page.totalElements == 0 ? 0 : page.number*page.size + 1}">1</strong> al
          <strong th:text="${ ((page.number+1)*page.size) > page.totalElements ? page.totalElements : ((page.number+1)*page.size) }">1</strong>
          di totale <strong th:text="${page.totalElements}">0</strong> <span th:text="${page.totalElements} == 1  ? 'risultato' : 'risultati'">risultato</span>
        </span>

    </div>
    <button type="button"
            th:onclick="|location.href='@{/buildings/{buildingId}/assets/new(buildingId=${building.id})}'|">
        Aggiungi asset
    </button>
</section>


<hr/>

    <section>
        <h2>Inquilini dell'edificio</h2>

        <!-- Messaggio se la lista è vuota -->
        <div th:if="${#lists.isEmpty(clients)}">
            L'edificio non ha inquilini
        </div>

        <!-- Tabella clienti se presenti -->
        <div th:if="${!#lists.isEmpty(clients)}">
            <p><strong>Totale:</strong> <span th:text="${clients.size()}">0</span></p>

            <table id="clientTable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Email</th>
                    <th>Azioni</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c : ${clients}">
                    <td th:text="${c.id}">10</td>
                    <td th:text="${c.name}">Mario</td>
                    <td th:text="${c.surname}">Rossi</td>
                    <td th:text="${c.email}">mario.rossi@example.com</td>
                    <td class="actions-cell">
                        <form th:action="@{/buildings/{buildingId}/clients/{clientId}/delete(buildingId=${building.id}, clientId=${c.id})}"
                              method="post" class="actions-item"
                              onsubmit="return confirm('Eliminare questo cliente?');">
                            <!-- CSRF -->
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <button type="submit">Elimina Cliente</button>
                        </form>

                        <button type="button" class="actions-item"
                                th:onclick="|location.href='@{/buildings/{buildingId}/clients/{clientId}/edit(buildingId=${building.id}, clientId=${c.id})}'|">
                            Modifica Cliente
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <button type="button"
                th:onclick="|location.href='@{/buildings/{buildingId}/clients/add(buildingId=${building.id})}'|">
            Aggiungi Cliente
        </button>
    </section>


<hr/>

<p>
    <a href="/buildings">← Torna all'elenco edifici</a>
</p>

</body>
</html>
