<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
    <meta charset="UTF-8">
    <title>I miei edifici</title>
    <link rel="stylesheet" th:href="@{/css/prova.css}" />
    <script th:src="@{/javascript/script.js}" defer></script>
    <script th:src="@{/javascript/prova.js}" defer></script>
    <script th:src="@{/javascript/buildings.js}" defer></script>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />

</head>
<body>
<div th:replace="topbar :: topbar"></div>
<h1>I tuoi edifici</h1>

<!-- Stato "nessun risultato" -->
<div th:if="${page.totalElements == 0}">
    <p>Nessun edificio trovato.</p>
    <p><a th:href="@{/buildings/new}">Aggiungi un edificio</a></p>
</div>

<section class="card">
    <div id="buildingTableContainer">
        <table class="table">
            <thead>
            <tr>
                <th><button onclick="changeSort('name')">Nome</button></th>
                <th><button onclick="changeSort('address')">Indirizzo</button></th>
                <th>Azioni</th>
            </tr>
            </thead>
            <tbody id="buildingTableBody">
            <!-- righe generate via JS -->
            </tbody>

        </table>
    </div>
    <div class="page-size">
        <label>Per pagina:
            <select style="width: 10%" id="pageSizeSelect" onchange="changePageSize()">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
            </select>
        </label>
    </div>

    <nav id="pagerContainer" class="pager"></nav>
</section>

<button class="btn btn-primary" type="button" th:onclick="|location.href='@{/buildings/new}'|">
    Nuovo Edificio
</button>

</body>
</html>
